.timelinetable__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timelinetable {
  border: 1px solid #cdcdcd;
}

.timelinetable td, .timelinetable th {
  border: 1px solid rgb(214, 214, 214);
}
